# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:

summ_city_info = "Output/summarycityinfo.csv"
summ_city_info_df = pd.read_csv(summ_city_info)
summ_city_info_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date
0,Launceston,-41.4500,147.1667,286.97,94,64,2.06,AU,1615477969
1,Venice,27.0998,-82.4543,297.01,57,1,6.17,US,1615477729
2,Geraldton,-28.7667,114.6000,296.15,83,4,4.12,AU,1615477970
3,Saint Paul Harbor,57.7900,-152.4072,266.15,38,1,12.35,US,1615477679
4,Los Llanos de Aridane,28.6585,-17.9182,291.85,60,20,5.14,ES,1615477970
...,...,...,...,...,...,...,...,...,...
590,Petauke,-14.2426,31.3253,295.08,91,95,2.25,ZM,1615478772
591,Labuhan,-6.8844,112.2051,298.02,89,100,2.78,ID,1615478773
592,Poltavka,54.3663,71.7632,260.36,86,99,8.86,RU,1615478774
593,Igarka,67.4667,86.5833,238.76,96,0,2.24,RU,1615478775
594,Hay River,60.8156,-115.7999,256.66,66,100,5.14,CA,1615478776

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [11]:
locations = summ_city_info_df[["Lat","Lng"]]
humidity = summ_city_info_df["Humidity"].astype(float)

In [20]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
summ_city_info_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,date
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,5.950000e+02
mean,19.166291,19.137606,286.606034,69.206723,52.836975,4.189412,1.615478e+09
std,32.503489,89.606231,16.381328,21.099156,37.614991,2.968498,1.940362e+02
min,-54.800000,-175.200000,238.230000,4.000000,0.000000,0.180000,1.615478e+09
25%,-7.973850,-60.933450,277.150000,57.000000,14.500000,2.060000,1.615478e+09
50%,22.788600,25.570100,292.800000,73.000000,60.000000,3.350000,1.615479e+09
75%,45.823600,99.683850,299.150000,85.000000,90.000000,5.780000,1.615479e+09
max,78.218600,179.316700,313.220000,100.000000,100.000000,17.560000,1.615479e+09

In [34]:
narrowed_df = summ_city_info_df.loc[(summ_city_info_df["Max Temp"] < 300) &
                                    (summ_city_info_df["Max Temp"] > 250) &
                                    (summ_city_info_df["Wind Speed"] < 5) &
                                    (summ_city_info_df["Cloudiness"] == 0),:]
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.count()

City          36
Lat           36
Lng           36
Max Temp      36
Humidity      36
Cloudiness    36
Wind Speed    36
Country       36
date          36
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure